@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* System Colors */
    --primary: #0275BC;
    --secondary: #FF914D;
    --text: #333333;
    --accent: #161616;

    /* Custom Colors */
    --sky-blue: #E4F1FF;
    --light-orange: #FFF2E2;

    /* Utility Colors */
    --success-green: #10b981;
    --warning-yellow: #f59e0b;
    --error-red: #ef4444;
    --background-gray: #f9fafb;
    --white: #ffffff;
}

@layer base {
    html {
        font-family: 'Noto Sans', sans-serif;
    }
}