@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* System Colors */
    --primary: #0275BC;
    --secondary: #FF914D;
    --text: #333333;
    --accent: #161616;

    /* Custom Colors */
    --sky-blue: #E4F1FF;
    --light-orange: #FFF2E2;

    /* Utility Colors */
    --success-green: #10b981;
    --warning-yellow: #f59e0b;
    --error-red: #ef4444;
    --background-gray: #f9fafb;
    --white: #ffffff;
}

@layer base {
    html {
        font-family: 'Noto Sans', sans-serif;
    }
}

@layer utilities {
    /* For thin, gray scrollbars */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af #e5e7eb; /* thumb and track color */
  }

  /* For Webkit-based browsers (Chrome, Safari) */
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #e5e7eb; /* gray-200 for the track */
    border-radius: 10px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #9ca3af; /* gray-400 for the thumb */
    border-radius: 10px;
    border: 2px solid #e5e7eb; /* Creates a padding effect with the track color */
    }
}